# LaTeX auxiliary files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.lof
*.lot
*.lol

# Bibliography
*.bcf
*.run.xml

# Build and output directories
/_minted-*
*.nav
*.snm
*.vrb
*.spl

# Editor temporary files
*.backup
*.swp
*~

# Generated PDF (uncomment if you don't want to track the PDF)
# *.pdf

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# macOS specific
.DS_Store
.AppleDouble
.LSOverride


# CSVs
advanced_m/assignments/assignment1/*.csv