# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.bcf
*.run.xml
*.snm
*.nav
*.vrb

# Directory for output
latex_output/*
!latex_output/combined_lectures.pdf
